* {
	border-radius: 0 !important;
}
html{
	width:100%;
}
.navbar-brand img{
	height: 30px;
}
.navbar-brand img:hover{
	filter: brightness(120%);
}
.navbar-brand img:active{
	filter:brightness(90%);
}

